/*
Theme Name: Enfold Child for ST
Template: enfold
*/

/* globe */
.swiper-slide{width: auto;}

/* single tile */
.tile-sidebar{width: 430px; float: left;}
.tile-details{width: calc(100% - 480px); margin-left: 50px; float: right;}
.tile-attributes tr:nth-child(even){color: #333;}

/* single collection */
.collection-container{display: inline-block; width: 100%;}
.collection-tiles-container a{width: 25%; float: left;}