.wp-admin.taxonomy-collection_category #edittag{width: 100%; max-width: 100%;}
.wp-admin.taxonomy-collection_category h2{margin-top: 40px;}
.wp-admin.taxonomy-collection_category .term-description-wrap{display: none;}